.quitar{
    text-decoration:none;
}
.movie_card #boton-mas {
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 70px;
    font-size: 10pt;
    margin-bottom: 5px;
    margin-right: 2px;
    position:absolute;
    bottom:0;
    right:0;
}

.movie_card #boton-mas:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}
.movie_card .boton-watchlist {
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 30px;
    margin-right: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Nuevo boton CAMBIAR ESTILO BOTON */
/* .movie_card .boton-watchlist-activo {
    cursor: pointer;
    border-style: none;
    background-color: #006e3b;
    color: rgb(128, 11, 11);
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 30px;
    margin-right: 35px;
    position: absolute;
    top: 0;
    right: 0;
} */

.movie_card .boton-watchlist:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

.movie_card #boton-favorites {
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 30px;

    position: absolute;
    top: 0;
    right: 0;
}
.movie_card #boton-favorites:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}