.quitar{
    text-decoration:none;
}
.movie_card #boton-mas {
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 70px;
    font-size: 10pt;
    margin-bottom: 5px;
    margin-right: 2px;
    position:absolute;
    bottom:0;
    right:0;
}

.movie_card #boton-mas:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}
.movie_card #boton-watchlist {
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 30px;
    margin-right: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.movie_card #boton-watchlist:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

.movie_card #boton-favorites {
    cursor: pointer;
    border-style: none;
  
    background-color: #ff3838;
    color: #fff;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease-in-out;
    line-height: 20px;
    width: 30px;
  
   
    position: absolute;
    top: 0;
    right: 0;
}
.movie_card #boton-favorites:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}
.search-message-empty-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4.5em;
    }

.search-message-empty-decal {
    margin-right: 2rem;
    font-size: 6rem;
    transform: rotate(90deg);
    }

.search-message-empty-message {
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
    text-overflow: ellipsis;
    overflow: hidden;
}
.foter{
    position: fixed;
    left: 0;
    bottom: 0;
   
    width: 100%;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
}

#botonScroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(215, 7, 7);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

/* Solo para movil el scroll hacia arriba */
@media only screen and (min-width: 769px) {
    #botonScroll {
        display: none !important;
    }
}