:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);



}

body {
  margin: 0;
  padding: 0;
}

.card img {
  max-height: 18rem;
  min-height: 18rem;
}

.row {
  margin-bottom: 20px;
}

.new-row {
  display: none;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;

}

.carousel-item {
  height: 25.8em;

}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;

}

@media (max-width: 1920px) {
  .carousel-item {
    height: 18.5rem;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (max-width: 1920px) {
  .card-resp {
    width: 100%;
  }
}


hr {
  margin: 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.btn-full {
  width: 10%;
}


/* .wrapperino {
  padding: 15px;
  overflow: hidden;
  width: 75%;
  display: flex;
  margin: 0 auto;
}

.cardino {
  position: relative;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  overflow: hidden;
  margin: 15px;

}

.cardino img {
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.cardino:hover .descriptions {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.cardino:hover {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.cardino:hover img {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}


.cardino button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
  transition: all .5s ease-in-out;
}

.cardino button:hover {
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
} */




.movie_card {
  padding: 0 !important;
  width: 18.9rem;
  margin: 14px;
  position: relative;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  overflow: hidden;
  height: 440px;
}

.movie_card img {
  width: 100%;
  height: 100%;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.movie_card:hover .descriptions {
  left: 0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.movie_card:hover {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.movie_card:hover img {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

/*Poner si quiero tenerlo en el medio*/
/* .wrapperino {
  padding: 15px;
  overflow: hidden;
  width: 75%;
  display: flex;
  margin: 0 auto;
} */